@page "/daniboi"
@inject HttpClient Http
@using BungieSharper.Entities.Destiny.Responses;

<h3>DaniBoi</h3>

<EditForm EditContext="@editContext" OnValidSubmit="GetBungieUserDetails" class="d-flex m-3">
    <InputText id="membershipId" class="form-control" placeholder="bungie user id"
        @bind-Value="membershipId" />
    <button class="button" type="submit" @onclick="GetBungieUserDetails">
        <span class="oi oi-pencil"></span>
    </button>
</EditForm>

<div class="rounded border border-primary p-3 d-inline-block m-3 col">
    @if (profile != null && membershipId != "")
    {
        <h4>Display name: @profile.DisplayName</h4>
        <p>Is Primary profile: @profile.IsCrossSavePrimary</p>
        <div>Bungie name: @profile.BungieGlobalDisplayName#@profile.BungieGlobalDisplayNameCode</div>
        <div>Membershi Id: @profile.MembershipId</div>
        <div>Membershi Type: @profile.MembershipType</div>
        <div class="">
            <p class="font-weight-bold">some box</p>
        </div>
    }
    else
    {
        <p>No profile found</p>
    }
</div>


@code {
    private string membershipId = "";

    //private Profile? profile = null;

    private DestinyProfileUserInfoCard profile;

    private EditContext editContext;

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(membershipId);
    }

    private async void GetBungieUserDetails()
    {
        //profile = await Http.GetFromJsonAsync<Profile>($"/BungieProfile/{membershipId}");
        var linkedprofile = await Http.GetFromJsonAsync<DestinyLinkedProfilesResponse>($"/GetLinkedProfiles/{membershipId}/254");
        profile = linkedprofile.Profiles.FirstOrDefault();
        StateHasChanged();
    }
}